<a href="https://colab.research.google.com/github/feulo-ocean/introducao_python/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python: Conhecendo a Linguagem

# O que é Programação?

## O que é um programa de computador?
## O que é um algoritmo?

# Um pouco mais Sobre o Python

## O que programar? (aplicações)
## Aonde programar? (ambientes)
## Como instalar o interpretador?

# A linguagem ("Hello World")

In [ ]:
print("Hello World")

Hello World

#Tipos de Dados básicos

In [ ]:
print(type(2)) # O tipo do número 2 é int (número inteiro)
print(type(2.5)) # O tipo do número 2.5 é float (número decimal)
print(type(1+1j)) # O tipo do número 1 + 1j (j é o número imaginário) é complex
print(type('O termo "termo" esta entre aspas\n')) # Sequencia de caracteres para armazenar texto
print(type(False)) # tipo booleano para Verdadeiro (True) e Falso (False)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

## Variáveis

Uma variável não pode ter o nome comçado por números, eveitmem palavras-chave da linaguagem e caracateres especiais

In [ ]:
altura_do_guilherme = 1.98 # nome_da_variavel = valor
texto = "Hello world"
chovendo = True

In [ ]:
print(altura_do_guilherme, texto, chovendo)

1.98 Hello world True

## Operações básicas (e nem tão básicas)

### Com dados numéricos

In [ ]:
print(2.5+5j + 1) # o '+' é a soma usual
print(10 - 1) # o '-' é a subtração usual
print(2 * -2.5) # o '*' é a multiplicação usual
print(10 / 3) # o '/' é a divisão usual

print(4 ** -0.5) # o '**' é a potenciação
print(10 // 4 ) # o '//' é o quociente da divisão inteira
print(10 % 4) # o '%' é o resto da divisão inteiro

(3.5+5j)
9
-5.0
3.3333333333333335
0.5
2
2

### Com dados texto

In [ ]:
anos = input("Digite sua idade: ")
frase = "Ola eu sou Guilherme e tenho " + anos  + " anos" # o '+' é a concatenação de strings
print(frase)
print("repete " * 5) # o '*' repete a string x vezes onde x é um número inteiro

Digite sua idade: 85
Ola eu sou Guilherme e tenho 85 anos
repete repete repete repete repete

In [ ]:
"texto" + 5 # não funciona

'texto5'

### Com booleanos

In [ ]:
True +  False # converte o True para 1 e o False para 0 e faz numericamente

1

In [ ]:
True + 4

5

In [ ]:
# conversão de tipos de Dados

string = "34.5"
numero = float(string)
numero + 10

44.5

In [ ]:
### Escreva uma sequência de operações em python que converta um valor em real para dólar
valor_em_real = float(input("Digite o valor em reais: "))
valor_em_dolar = valor_em_real / 5.62
saida = f'O valor é $ {valor_em_dolar:.2f} dolar'
print(saida) 
## Escreva uma sequência de operações em python que converta um valor em dólar para real

Digite o valor em reais: 5.62
O valor é $ 1.00 dolar

# Desvios condicionais

In [ ]:
if True:
  print('Era verdadeiro')
  print('Outro Texto dentro do if')  
print('Imprimo independente do if')

Imprimo independente do if

In [ ]:
# Operadores de Comparação 

print("3 == 2:", 3 == 2) # '==' representa igualdade 
print('"texto" == "texto":', "texto" == "texto")
print('"2.34" == 2.34:', "2.34" == 2.34)
variavel = '5.78'
print("variavel == 5.78:", variavel == 5.78)

print("2 > 3:", 2 > 3) # '>' verifica se o número a esquerda do símbolo é maior que o da direita
print("2 > 2:", 2 > 2)
print("2 < 3:", 2 < 3) # '<' verifica se o número a esquerda do símbolo é menor que o da direita
print("2 < 2:", 2 < 2)

print("2 >= 3:", 2 >= 3) # '>=' verifica se o número a esquerda do símbolo é maior ou igual que o da direita
print("2 >= 2:", 2 >= 2)
print("2 <= 3:", 2 <= 3) # '<=' verifica se o número a esquerda do símbolo é menor ou igual que o da direita
print("2 <= 2:", 2 <= 2)

print("3 != 2:", 3 != 2) # '!=' verifica se os números são diferentes 
print("2 != 2:", 2 != 2) # '!=' verifica se os números são diferentes

3 == 2: False
"texto" == "texto": True
"2.34" == 2.34: False
variavel == 5.78: False
2 > 3: False
2 > 2: False
2 < 3: True
2 < 2: False
2 >= 3: False
2 >= 2: True
2 <= 3: True
2 <= 2: True
3 != 2: True
2 != 2: False

In [ ]:
"abc".lower() == "ABc".lower()

True

20

In [ ]:
delta = -1
if delta > 0:
  print("delta é maior que 0")
elif delta ==0:
  print('delta é 0') 
elif delta > -1:
  print()
else:
  print("delta e menor a 0")
print('termina o programa')

delta e menor a 0
termina o programa

### Exercicio
dada a tabela o IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto.

|Base de cálculo (R$)	|Alíquota (%)|
--------------------- |-------------|
|Abaixo de 1.903,99    | 0%  |
|De 1.903,99 até 2.826,65|	7,5%	|
|De 2.826,66 até 3.751,05|	15%	|
|De 3.751,06 até 4.664,68|	22,5%	|
|Acima de 4.664,68|	27,5%|

In [ ]:
# Solução
salario = float(input("Digite seu salário mensal: "))
if salario < 1903.99:
  valor = 0
elif salario <= 2826.65:
  valor = salario * 0.075 
elif salario <= 3751.05:
  valor = salario * 0.15
elif salario <= 4664.68:
  valor = salario * 0.225
else:
  valor = salario * 0.275 
print(f"O valor a ser pago de IR é R${valor:.2f}")

Digite seu salário mensal: 10000
O valor a ser pago de IR é R$2750.00

# Laços de repetição

## While (enquanto)

In [ ]:
numero = 1
while numero != 0:
  numero = int(input("Digite um número: "))
  print("voce digitou o numero", numero)
print('terminou')

Digite um número: 5
voce digitou o numero 5
Digite um número: 9
voce digitou o numero 9
Digite um número: 0
voce digitou o numero 0
terminou

## For (para cada)

In [ ]:
teto = 0
for i in [5 , "texto", 2 , -1, 4.56, True]:
  if type(i) == int:
    a = i + 1
  print("a variável i vale:", i)
print(i)
print(a)

a variável i vale: 5
a variável i vale: texto
a variável i vale: 2
a variável i vale: -1
a variável i vale: 4.56
a variável i vale: True
True
0

# Coleções de dados

### Listas

## Dicionários

## Tuplas

## Muitas outras coleções!

# Funções